@model Nhom6_DoAnMonHoc.Models.CauHoi

<h2>Chi Tiết Câu Hỏi</h2>

<div>
    <h4>@Model.Cauhoi</h4>
    <div>Đáp Án A: @Model.DapanA</div>
    <div>Đáp Án B: @Model.DapanB</div>
    <div>Đáp Án C: @Model.DapanC</div>
    <div>Đáp Án D: @Model.DapanD</div>
    <div>Đáp Án Đúng: @Model.Dapan</div>
</div>
